.specific__list {
    display: flex;
    gap: 30px;
}

.specific__item {

    width: 270px;
}

.specific__bg {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;

    width: 100%;
    height: 120px;

    background-color: var(--secondary-bcg-color);
    border-radius: 4px;
}


.scecific__title {
    font-size: 14px;
    line-height: calc(16/14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.specific__text {
    line-height: calc(24/14);
    letter-spacing: 0.03em;
    color: var(--main-text-color)
}

.scecific__title,
.sspecific__text {
    width: 270px;
}