.card-set {
    display: flex;
    justify-content: center;
    // align-items: center;
    gap: 30px;
    flex-wrap: wrap;
}

.card-set-item {
    flex-basis: calc((100% - var(--indent) * (var(--items) - 1)) / (var(--items)));
}