.header {
    border-bottom: 1px solid var(--secondary-bcg-color);
}

.header-container {
    display: flex;
}

.logo-header {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    padding-top: 25px;
    padding-bottom: 25px;

    @media screen and (max-width: 767px) {
        padding-top: 16px;
        padding-bottom: 16px;
    }

    @media screen and (min-width: 1200px) {
      margin-right: 93px;  
    }
}

.logo-part {
    color: var(--header-logo-color);
}

.contact-list {
    display: flex;
    align-items: center;
    gap: 50px;

    @media screen and (max-width: 767px) {
        display: none;
    }

    @media screen and (min-width: 767px) and (max-width: 1199px) {
        flex-direction: column;
        justify-content: center;
        align-items: baseline;
        gap: 10px;
    }
}

.contact-link {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-top: 32px;
    padding-bottom: 32px;

    font-weight: 500;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;

    color: var(--header-contacts-color);

    transition: color var(--duration) var(--timing-function);
    &:hover,
    &:focus {
        color: var(--accent-color);
    }

    @media screen and (min-width: 767px) and (max-width: 1199px) {
        padding-top: 0;
        padding-bottom: 0;
        font-size: 12px;
    }
}



.header-icon {
    fill: currentColor;
}