.site-nav {
    margin-right: auto;
}

.nav-list {
    display: flex;
    gap: 50px;
}

.nav-link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    font-weight: 500;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;

    color: currentColor;

    transition: color var(--duration) var(--timing-function);

    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}




.link-current {
    position: relative;

    color: var(--accent-color);
    
    &::after {
        content: "";
        position: absolute;
        bottom: -1px;
        left: 0;

        width: 100%;
        height: 4px;
        border-radius: 2px;

        background-color: var(--accent-color);
    }
}

